@import "variables.scss";

.hover-elevate:hover{
    transform: scale(1.01);
    box-shadow: 4px 3px 3px #000;
}

.hover-pointer{
    cursor: pointer;
}

.border-bottom{
  border-bottom: 1px solid $white;
}

.rounded-border{
    border-radius: .5em;
}

.active{
    background-color: $primary !important;
}