// COLORS
$primary: #080808;

$primaryLight: lighten($primary, 10%);
$primaryLighter: lighten($primary, 20%);
$primaryLightest: lighten($primary, 30%);

$primaryAccent: #888888;
$white: #e5e5e5;
$black: #000;

// SIZES
$desktop: 960px;
