// COLORS
$primary: #376ec7;
$primaryLight: lighten($primary, 20%);
$primaryDark: darken($primary, 20%);
$primaryAccent: #103e50;


$secondary: #3c4452;

$white: #e5e5e5;
$black: #000;
$gray:#404040 ;


// SIZES
$desktop: 960px;
